@keyframes fly-mobile {
    0% { transform: translate(120vw, -8vh); }
    25% { transform: translate(90vw, -8vh); }
    50% { transform: translate(65vw, -8vh); }
    75% { transform: translate(40vw, -5vh); }
    100% { transform: translate(0, -10vh); }
}

@keyframes fly {
    0% { transform: translate(120vw, -15vh); }
    25% { transform: translate(100vw, -15vh); }
    50% { transform: translate(80vw, -15vh); }
    75% { transform: translate(50vw, -8vh); }
    100% { transform: translate(0, -15vh); }
}
