@keyframes fly {
    0% { transform: translate(110vw); }
    25% { transform: translate(90vw, 10vh); }
    50% { transform: translate(60vw, -20vh); }
    75% { transform: translate(30vw, -10vh); }
    100% { transform: translate(0, -20vh); }
}
