@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin main-header-bold {
    font-family: NunitoSans-Bold;
    font-weight: 700;
    font-size: 1.5rem;
}

@mixin nav-active-and-hover {
    color: $primary-color-white;
    border-bottom: 4px solid $primary-color-white;
}

