@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin main-header-bold {
    font-family: NunitoSans-Bold;
    font-weight: 700;
    font-size: 1.5rem;
}

@mixin nav-active-and-hover {
    color: $primary-color-white;
    border-bottom: 4px solid $primary-color-white;
}

@mixin avatar-frame {
    min-width: 2.25rem;
    max-width: 2.25rem;
    min-height: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    display: inline-block;
}

@mixin form-field-default {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $secondary-color-mercury;
    border-radius: 4px;
    padding: 0.75rem;
    background-color: $secondary-color-alabaster;
}

@mixin form-field-border-active {
    outline: none;
    border-color: $primary-color-black;
}
