$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-black: #323232;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;

$secondary-color-darkblack: #000000;
$secondary-color-mercury: #E1E1E1;
$secondary-color-Alabaster: #FAFAFA;


// Move font-face to another file??
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../assets/fonts/NunitoSans-Regular.woff');
}

@font-face {
    font-family: 'NunitoSans-Med';
    src: url('../assets/fonts/NunitoSans-Medium.woff');
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../assets/fonts/NunitoSans-Bold.woff');
}