@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../assets/fonts/NunitoSans-Regular.woff") format(woff), url("../assets/fonts/NunitoSans-Regular.woff2") format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans-Med";
  src: url("../assets/fonts/NunitoSans-Medium.woff") format(woff), url("../assets/fonts/NunitoSans-Medium.woff2") format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: "NunitoSans-Bold";
  src: url("../assets/fonts/NunitoSans-Bold.woff") format(woff), url("../assets/fonts/NunitoSans-Bold.woff2") format(woff2);
  font-weight: 700;
}
* {
  margin: 0;
}

body {
  font-family: NunitoSans-Regular;
  font-weight: 400;
  font-size: 0.875rem;
}

h1 {
  font-family: NunitoSans-Bold;
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-family: NunitoSans-Bold;
  font-weight: 700;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-family: NunitoSans-Med;
  font-weight: 500;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

a {
  text-decoration: none;
}

.nav {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 5rem;
  }
}
.nav h3 {
  margin: auto;
  padding: 1rem;
  max-width: 7.5rem;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav h3 {
    margin: 0;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav h3 {
    padding-left: 6rem;
  }
}
.nav__tabs-container {
  display: flex;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__tabs-container {
    gap: 2rem;
    height: 100%;
  }
}
.nav__tabs-container a {
  flex: 0 1 50%;
  text-decoration: none;
  color: #E1E1E1;
  padding: 0 0 1rem;
}
.nav__tabs-container a:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
.nav__tabs-container a:active {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  font-family: NunitoSans-Bold;
}
@media screen and (min-width: 768px) {
  .nav__tabs-container a {
    padding-top: 21%;
  }
}

@keyframes fly {
  0% {
    transform: translate(110vw);
  }
  25% {
    transform: translate(90vw, 10vh);
  }
  50% {
    transform: translate(60vw, -20vh);
  }
  75% {
    transform: translate(30vw, -10vh);
  }
  100% {
    transform: translate(0, -20vh);
  }
}
.hero {
  padding: 12rem 0;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 15rem 0;
  }
}
.hero h1 {
  padding-left: 1.5rem;
  z-index: 1;
}
@media screen and (min-width: 1280px) {
  .hero h1 {
    padding-left: 6rem;
  }
}
.hero__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__bee-emoji {
  font-size: 3.5rem;
  position: absolute;
  left: -20%;
  animation: fly 3s linear 2s 1 normal;
}

.about {
  padding: 1.5rem 1rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 3rem 2.25rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 3rem 6rem 1.5rem;
  }
}
.about__image-container {
  padding: 1rem 0;
}
.about__image-container img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image-container {
    padding: 2rem 3.5rem 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__image-container {
    padding: 2rem 5.5rem 2rem;
  }
}
.about__quote {
  font-family: NunitoSans-Bold;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding: 0 3.5rem 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    padding: 0 5.5rem 0.5rem;
    width: 72%;
    font-size: 1.5rem;
  }
}
.about__citation {
  font-family: NunitoSans-Bold;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__citation {
    padding: 0 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__citation {
    padding: 0 5.5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .about__bio {
    padding: 0 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__bio {
    padding: 0 5.5rem;
  }
}
.about__bio h3 {
  padding: 1.5rem 0 0;
}
@media screen and (min-width: 768px) {
  .about__bio h3 {
    padding: 3rem 0 0;
  }
}
.about__text-container {
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .about__text-container {
    display: flex;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__text-container {
    gap: 3rem;
  }
}
.about__text-container p {
  padding: 1rem 0;
}
@media screen and (min-width: 1280px) {
  .about__text-container p {
    padding-top: 2.25rem;
  }
}

.photo-gallery {
  padding: 1rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery {
    padding: 3rem 5.5rem 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .photo-gallery__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__flex-container {
    gap: 1.5rem;
  }
}
.photo-gallery__image-container {
  padding-top: 1rem;
}
.photo-gallery__image-container img {
  width: 100%;
  filter: grayscale(100%);
}
.photo-gallery__image-container img:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 768px) {
  .photo-gallery__image-container {
    padding: 0;
    flex: 0 1 30%;
  }
}

.contacts {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 3rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding: 3rem 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .contacts__socials-container {
    display: flex;
    gap: 2.25rem;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts__socials-container {
    gap: 3.5rem;
  }
}
.contacts__socials {
  padding: 1rem 0;
}
.contacts__socials img {
  height: 1.5rem;
  margin-right: 1.7rem;
}
.contacts__bandsite-text-top {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__bandsite-text-top {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts__group-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__group-flex-container {
    justify-content: flex-start;
    gap: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .contacts__group-container h3 {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
.contacts__group {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .contacts__group {
    padding: 2.25rem 0;
  }
}
.contacts__email a {
  color: inherit;
}
.contacts__email a:hover {
  text-decoration: underline;
}
.contacts__email a:visited {
  color: inherit;
}
.contacts__bandsite-text-bottom {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .contacts__bandsite-text-bottom {
    display: none;
  }
}
.contacts__copyright p {
  font-size: 0.8rem;
  padding: 1rem 0 0.5rem;
}/*# sourceMappingURL=bio.css.map */