@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/animations' as *;


.nav {
    &__bio {
        @include nav-hover-and-active;
        font-weight: 700;
    }
}

.hero {
    background-image: url('../assets/images/hero-bio.jpg');
    @include hero-layout-general;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__title-container {
        margin-left: 1rem;
        z-index: 1;

        @include tablet {
            margin-left: 1.5rem;
        }

        @include desktop {
            margin-left: 6rem;
        }
    }

    &__layer {
        @include hero-dark-layer;
    }

    &__bee-emoji {
        font-size: 2rem;
        position: absolute;
        left: -20%;
        animation: fly-mobile 3s linear 2s 1 normal;

        @include tablet {
            font-size: 3rem;
            animation: fly 3s linear 2s 1 normal;
        }
    }
}

.about {
    padding: 1.5rem 1rem 0.5rem;

    @include tablet {
        padding: 3rem 2.25rem 1rem;
    }

    @include desktop {
        padding: 3rem 6rem 1.5rem;
    }

    &__image-container {
        padding: 1rem 0;

        img {
            width: 100%;
        }

        @include tablet {
            padding: 2rem 3.5rem 1.5rem;
        }

        @include desktop {
            padding: 2rem 5.5rem 2rem;
        }
    }

    &__quote {
        font-family: NunitoSans-Bold;
        font-weight: 700;
        line-height: 1.5;
        padding-bottom: 0.5rem;

        @include tablet {
            padding: 0 3.5rem 0.5rem;
        }

        @include desktop {
            padding: 0 5.5rem 0.5rem;
            width: 72%;
            font-size: 1.5rem;
        }
    }

    &__citation {
        font-family: NunitoSans-Bold;
        font-weight: 700;

        @include tablet {
            padding: 0 3.5rem;
        }

        @include desktop {
            padding: 0 5.5rem;
            font-size: 1rem;
        }
    }

    &__bio {

        @include tablet {
            padding: 0 3.5rem;
        }

        @include desktop {
            padding: 0 5.5rem;
        }

        h3 {
            padding: 1.5rem 0 0;

            @include tablet {
                padding: 3rem 0 0 ;
            }
        }
    }

    &__text-container {
        line-height: 1.5;

        @include tablet {
            display: flex;
            gap: 2rem;
        }

        @include desktop {
            gap: 3rem;
        }

        p {
            padding: 1rem 0;

            @include desktop {
                padding-top: 2.25rem;
            }
        }
    }
}

.photo-gallery {
    padding: 1rem;
    background-color: $secondary-color-alabaster;

    @include tablet {
        padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
        padding: 3rem 6rem 2.25rem;
    }

    &__flex-container {

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
            padding-top: 2rem;
        }

        @include desktop {
            gap: 1.5rem;
        }
    }

    &__image-container {
        padding-top: 1rem;

        img {
            width: 100%;
            filter: grayscale(100%);

            &:hover {
                filter: grayscale(0);
            }
        }

        @include tablet {
            padding: 0;
            flex: 0 1 30%;
        }

        @include desktop {
            flex: 0 1 31.5%;
        }
    }
}

.comments {
    padding: 1rem;

    @include tablet {
        padding: 2.25rem;
    }

    @include desktop {
        padding: 2.75rem 6rem 2.25rem;
    }

    &__body-container {
        
        @include tablet {
            padding: 0 3.5rem;
        }

        @include desktop {
            padding: 0 18rem;
        }
    }

    &__new-comment-container {
        display: flex;
        padding: 1rem 0;

        @include tablet {
            padding: 2rem 0 1.5rem;
        }
    }

    &__new-avatar-container {
        @include avatar-frame;
        margin: 1.5rem 1rem 0 0;
        overflow: hidden;
        position: relative;
        
        @include tablet {
            margin-top: 1.4rem;
        }
    }

    &__avatar-file-input {
        display: none;
    }

    &__avatar-file-icon-btn {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            @include tablet {
                font-size: 1.25rem;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: $primary-color-silver;

            i {
                transform: scale(1.05);
            }
        }

        &:active {
            i {
                transform: scale(0.95);
            }
        }
    }

    &__avatar-image-position {
        background-position: center;
        background-size: cover;
    }

    &__form {
        width: 100%;

        label {
            display: block;
            color: $primary-color-silver;
            margin-bottom: 4px;

            &:last-child {
                margin-top: 1rem;
            }
        }
    
        input[type="text"] {
            @include form-field-default;
            min-height: 2.25rem; 

            @include tablet {
                min-height: 3rem;
            }

            &:focus {
                @include form-field-border-active;
            }

            &::placeholder {
                color: $primary-color-black;
            }
        }
    }

    &__input-container {

        &--name {
            margin-bottom: 1.5rem;
        }

        &--comment {

            textarea {
                @include form-field-default;
                font-family: inherit;
                font-size: inherit;
                resize: none;

                &::placeholder {
                    color: $primary-color-black;
                }

                &:focus {
                    @include form-field-border-active;
                }
            }
        }
    }

    &__button-container {
        margin-top: 1rem;

        @include tablet {
            text-align: right;
            margin-top: 1.5rem;
        }
    }

    &__button {
        width: 100%;
        padding: 0.75rem 0;
        @include button-default;

        @include tablet {
            width: 30%;
        }

        @include desktop {
            width: 35%;
        }

        &:hover {
            cursor: pointer;
        }

        &:active {
            @include button-active;
        }
    }

    hr {
        border: 1px solid $secondary-color-mercury;
    }

    &__comment-component {
        margin: 0.25rem 0 1rem;
        display: flex;

        @include tablet {
            margin: 0.5rem 0 1.5rem;
        }
    }

    &__avatar-placeholder {
        @include avatar-frame;
        margin-right: 1rem;
        margin-top: 1.25rem;
    }

    &__text-container {
        width: 100%;
    }

    &__delete-icon-container {
        text-align: right;
    }

    &__component-header {
        display: flex;
        margin-bottom: 0.5rem;

        p {
            &:first-child {
                margin-right: auto;
                font-weight: 700;
            }

            &:last-child {
                color: $primary-color-silver;
            }
        }

        i {
            margin-left: 0.5rem;
        }
    }

    &__likes {
        text-align: right;

        i {
            font-size: 1rem;
            &:hover {
                cursor: pointer;
            }

            &:active {
                transform: scale(0.90);
            }
        }

        span {
            margin-left: 0.25rem;
        }
    }

    &__heart-solid {
        display: none;
    }
}

.hidden {
    display: none;
}