@use 'variables' as *;
@use 'fonts' as *;

* {
    margin: 0;
}

body {
    font-family: NunitoSans-Regular;
    font-weight: 400;
    font-size: 0.875rem;
}

h1, h2 {
    font-family: NunitoSans-Bold;
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-family: NunitoSans-Med;
    font-weight: 500;
    font-size: 0.875rem;
}

.nav {
    background-color: $primary-color-black;

    h1 {
        padding: 0.5rem;
        max-width: 7.5rem;
        margin: auto;
        color: $primary-color-white;
    }

    &__tabs-container {
        display: flex;
        text-align: center;
        padding: 0;

        li {
            list-style-type: none;
            flex: 0 1 50%;
            padding: 0.5rem;
            margin: 0;
            color: $secondary-color-mercury;

            &:hover {
                color: $primary-color-white;
                border-bottom: 5px solid $primary-color-white;
                font-family: NunitoSans-Bold;
            }
        }
    }
}
