@use 'variables' as *;
@use 'mixins' as *;
@use 'global' as *;

.hero {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    color: $primary-color-white;

    h2 {
        padding-left: 1rem;
        font-size: 2rem;
    }
}

.about {
    padding: 1.5rem 1rem;

    &__image-container {
        padding: 1rem 0;

        img {
            width: 100%;
        }
    }

    &__quote {
        font-family: NunitoSans-Bold;
        text-align: justify;
        padding-bottom: 0.5rem;
    }

    &__citation {
        font-family: NunitoSans-Bold;
    }

    &__bio {
        p {
            padding: 1rem 0;

            &:first-child {
                padding-top: 1.5rem;
                padding-bottom: 0;
            }
        }
    }
}