@use 'global' as *;
@use 'variables' as *;
@use 'fonts' as *;
@use 'mixins' as *;

.hero {
    padding: 12rem 0;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/hero-bio.jpg');
    background-position: center;
    background-size: cover;
    color: $primary-color-white;

    h2 {
        padding-left: 1.5rem;
    }
}

.about {
    padding: 1.5rem 1rem;

    @include tablet {
        padding: 3rem 2.25rem 1rem;
    }

    &__image-container {
        padding: 1rem 0;

        img {
            width: 100%;
        }

        @include tablet {
            padding: 2rem 3.5rem 1.5rem;
        }
    }

    &__quote {
        font-family: NunitoSans-Bold;
        font-weight: 700;
        line-height: 1.5;
        padding-bottom: 0.5rem;

        @include tablet {
            padding: 0 3.5rem 0.5rem;
        }
    }

    &__citation {
        font-family: NunitoSans-Bold;
        font-weight: 700;

        @include tablet {
            padding: 0 3.5rem;
        }
    }

    &__bio {

        @include tablet {
            padding: 0 3.5rem;
        }

        h3 {
            padding: 1.5rem 0 0;

            @include tablet {
                padding: 3rem 0 0 ;
            }
        }
    }

    &__text-container {
        line-height: 1.5;

        @include tablet {
            display: flex;
            gap: 2rem;
        }

        p {
            padding: 1rem 0;
        }
    }
}

.photo-gallery {
    padding: 1rem;
    background-color: $secondary-color-alabaster;

    &__image-container {
        padding-top: 1rem;

        img {
            width: 100%;
        }
    }
}

.contacts {
    background-color: $primary-color-black;
    color: $primary-color-white;
    padding: 1.5rem 1rem 0;

    &__socials {
        padding: 1rem 0;

        img {
            height: 1.5rem;
            margin-right: 1.7rem;
        }
    }

    &__group {
        padding: 1rem 0;
    }

    &__single-line {
        padding-bottom: 1.5rem;
    }
}

.footer {
    background-color: $primary-color-black;
    color: $primary-color-white;
    padding: 1rem 1rem;

    p {
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }
}