@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;


.nav {
    &__shows {
        @include nav-hover-and-active;
        font-weight: 700;
    }
}

.hero {
    background-image: url('../assets/images/hero-shows.jpg');
    @include hero-layout-general;
    height: 19rem;
    padding: 1rem;

    @include tablet {
        padding: 2.25rem 2.25rem 0;
    }

    @include desktop {
        padding: 6rem;
    }

    &__inner-layer {
        @include hero-dark-layer;
    }

    &__outer-layer {
        position: relative;
        z-index: 1;

        @include desktop {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title-container {
        width: 70%;
        color: $primary-color-white;
        padding: 1.5rem 0 1.25rem;

        @include tablet {
            width: 75%;
        }

        @include desktop {
            width: 50%;
        }

        h1 {
            margin-top: 1rem;
        }
    }

    &__embedded-music-container {
        @include tablet {
            width: 60%;
        }

        @include desktop {
            width: 40%;
            padding-top: 4rem;
        }
    }
}

.shows {
    padding: 1.5rem 1rem 1rem;

    @include tablet {
        padding: 3rem 0.95rem 2.25rem;
    }

    @include desktop {
        padding: 3rem 6rem 2.25rem;
        display: flex;
        gap: 10rem;
    }

    h2 {
        margin-bottom: 0.5rem;

        @include tablet {
            padding-left: 1.3rem;
            margin-bottom: 2.25rem;
        }
    }

    &__tablet-labels {
        display: none;

        @include tablet {
            @include shows-labels;
            padding: 0 1.3rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                width: 100%;
            }

            button {
                visibility: hidden;
            }
        }

        @include desktop {
            padding-top: 0.5rem;
            margin-bottom: 1rem;
        }
    }

    &__component-container {
        
        @include tablet {
            display: flex;
            flex-flow: column wrap;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__component {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0 1rem;

        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 1.3rem;;

            div {
                flex: 0 1 100%;
            }

            &:hover {
                background-color: $secondary-color-alabaster;
                cursor: pointer;
            }

            &:active {
                background-color: $secondary-color-mercury;
            }
        }
    }

    &__label {
        @include shows-labels;
        margin-bottom: 0.25rem;

        @include tablet {
            display: none;
        }
    }

    &__date {
        font-weight: 700;
    }

    button {
        padding: 1rem 0;
        margin-top: 0.5rem;
        width: 100%;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
        background-color: $primary-color-black;
        color: $primary-color-white;
        text-transform: uppercase;

        @include tablet {
            max-width: 11rem;
            max-height: 3rem;
            margin: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    hr {
        border: 1px solid $secondary-color-mercury;
        margin: 0 -1rem;

        @include tablet {
            margin: 0;
        }
    }
}